*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: regular;
    src: url(JF\ Flat\ medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(ge-tv.ttf);
}

body{
    font-family: regular;
    /* overflow-x: hidden; */
}

:root{
    --redcolor:#e74c3c;
   --bluecolor :#2c3e50;
}

input{
    outline: none;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

.list_notstyle{
    list-style-type: none;
}

.btn_direction{
    width: 50px;
    height: 50px;
    background-color: var(--redcolor)!important;
    color: #fff!important;
    text-align: center;
    padding: 5px 0;
    border: 0px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 550px;
    position: fixed;
    z-index: 999!important;
    display: none;
    cursor: pointer;
    transition:all 0.6s;
}

.icon_temp{
    width: 200px!important;
    height: 200px!important;
}

::selection{
    color: var(--redcolor);
    background-color: var(--bluecolor) ;
}

    /* first section Headre  */

 .header{
     position: relative;
     background-size: cover;
     background-color: var(--bluecolor);
     min-height: 570px!important;
     z-index: 0;
 }
 .header .overlay{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: rgba(0, 0, 0, 0.568);
     padding: 70px;
     z-index: 1; 
 }

 .desc_header{
position: relative;
z-index: 10!important;
 }

 .link_header{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .link_header{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: move_lonk;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

@keyframes move_lonk {
    10% {transform: translatex(-100%)}
     
}

 .link_header li{
     margin: 0 15px;
}

.link_header li a{
   color: #fff;
   font-size: 18px;
   transition:transform 0.5s;
}

.link_header li:hover{
    transform: scale(1.7);
    transition:all 0.5s;
 }
 .link_header li a:hover{
    color: var(--redcolor);
 }

.map_ul_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.map_ul_header li{
   margin: 0 35px;
   color: #fff;
}


.map_ul_header i{
   color: var(--redcolor);
   font-size: 22px;
   padding: 7px;
 }

 .desc_header{
     z-index: 10;
     position: relative;
 }

 .desc_header h2{
     color: #fff;
     font-size: 60px;
     font-family: bold;
     font-weight: bold;
 }

 .desc_header p{
    color: #fff;
}

.ul_clock_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all 1s;

}




.ul_clock_header li:hover{
  background-color: #fff!important;
  transition: all 1s;
  color: var(--bluecolor);
  animation-name: movetime;
  animation-duration: 0.9s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
}

.ul_clock_header li:nth-child(2){
    padding: 10px!important;
}

@keyframes movetime {
     100% {transform: rotatex(360deg);}   
}

@media (min-width:320px) and (max-width:767px){
    .swiper {
     width: 100%;
      }
.ul_clock_header{
    flex-wrap: wrap;
}
.header{
    background-attachment: fixed;
}

.header .overlay{
    padding: 0px;
}

.ul_clock_header li{
    flex: 40%;
}
}

.ul_clock_header li{
   margin: 20px 20px;
   background-color: var(--redcolor);
   padding: 10px 25px;
   width: 110px;
   color: #fff;
   font-weight: 600;
   font-size: 28px; 
}

.ul_clock_header li:nth-child(4){
    background-color: var(--bluecolor);
}

.desc_header .btn{
   color: black!important;
   padding: 10px 30px;
 }

 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{     /* background-color: none ; */
  background-color: #fff; 
}

 /* end section header  */

/* navbar section */
.navbar_section{
    position: fixed;
    width: 100%!important;
    z-index: 100!important;
    background-color: rgba(0, 0, 0, 0.924);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 0 3px 2px #fa2c27;
}

.navbar-default{
    background-color: var(--weightcolor)!important;
    border: 0;
}

.navbar_section .nav{
    min-height: 60px;
}

.navbar-brand img{
    height: 60px;
/* width: 200px; */
/* height: 180px; */
    /* padding-top: 0!important; */
    transition: 0.5s;
    padding-right: 38px;
    padding-top: 5px;

}
.navbar-brand img:hover {
    transform: scale(1.1);
}

.text_logo{
    font-size: 15.5px;
    font-weight: 600;
    color: #e74c3c;
    padding-right: 0px!important;
    padding-top: 6px!important;
    margin-right: 7px;
    }


.navbar-collapse{
    padding-top: 25px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding-top: 0px!important;
    min-width: 200px;
    /* height: inherit; */

    transition: 0.7s;
}

nav li a{
    font-size: 18px!important;
    color:rgba(0, 0, 0, 0.918)!important;
    font-weight: 600!important;
    padding: 10px 20px!important; 
    transition: 0.1s!important; 
}

nav li a:focus{
    color:#fa2c27!important;

}


nav li a:focus{
    color: #fa2c27;  
}

nav li a:hover{
    color:var(--maincolor);
    background-color: #f4f4f4;
   border-bottom: 3px solid #fa2c27;
}

/* section Home */
.carousel-inner {
    margin-top: 60px;
}

#home.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
.carousel-inner .item img{
    display: block!important;
    width: 100%;
    background-size: cover!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    -ms-background-size: cover!important;
    min-height: 550px!important;
    border-radius: 0;
 }
 
 .carousel-inner .item {
     position: relative;
 }
 
 .carousel-inner .item .carousel-caption{
   position: absolute;
   top: 0px!important;
   right: 15px;
 }
 
 .carousel-inner .item .carousel-caption h3{
    font-size: 30px;
    padding-top: 28px;
    margin-bottom: 60px;
    font-weight: 600;
   line-height: 60px;
   text-shadow: 3px 3px 5px #fa2c27;
   }

   .carousel-inner .item .carousel-caption h3 span{
    color: #e74c3c!important;
    font-size: 33px;
   text-shadow: 3px 3px 4px #ffffff;
    
   }
 
   .carousel-inner .item .carousel-caption p{
     margin: 50px 0;
     color: rgba(255, 255, 255, 0.767);
     letter-spacing: 1.5px;
     font-size: 17px;
     text-align: left;   
     font-weight: 600; 
     line-height: 30px;
 }
 
   .carousel-inner .item .carousel-caption button.btn{
     font-size: 20px;
     font-weight: 600;
     width: 190px;
     letter-spacing: 0.5px;
     padding-top: 12px;
      border-radius: 0;
      background-color: #fa2c27;
      color: #fa2c27;
     }
   



 /*  start navbar section */
.navbar-default{
    background-color: var(--bluecolor);
    border: 0;
    margin: 0;
    border-radius: 0;
}

 /* .navbar-brand{
    margin-right: 0;
    display: block;
    text-align: right;
    width: 25%;
    font-size: 28px;
    padding-top: 0;
 } */


 .navbar-nav{
     float: left;
     margin-right: 30px;
 }

 .link_nav{
     color: #fff!important;
     font-size: 14px!important;
 }

 .link_nav:hover{
    color: #fa2c27!important; 
}

 .link_nav:focus{
    color: #fa2c27!important;
}


 .navbar-default .navbar-nav>li>a{
     color: #fff;
     font-weight: 600;
     letter-spacing: 0.6px;
 }
 .navbar-default .navbar-nav>li>a:focus{
    color: var(--redcolor);
}

 .active_nav{
color: #e74c3c!important;
font-weight: bold!important;
font-size: 15.5px!important;
}


 .navbar-default .navbar-nav>li{
    /* padding-bottom: 5px; */
    padding-top: 10px;
}

.navbar-default .navbar-nav li{
    transition: 2s!important;
}

.navbar-default .navbar-nav li:hover .link_nav{
    color: #fa2c27!important;
    background-color: #fff;
    border-radius: 15px;
}




 .btn_nav{
     background-color: var(--redcolor);
     padding: 8px 20px;
     margin-top: 15px;
     color: #fff;
     margin-right: 20px;
 }

 .active{
     background-color: #fff;
     color: black!important;
 }
 /*  end navbar section */

/* Section Services */
.services_sec{
padding-top: 40px;
margin-bottom: 40px;
}

.titil_services{
    padding-top: 48px;
    /* font-size: 80px; */
    text-align: center;
    color: #fa2c27;
    font-weight: 600;
    margin-bottom: 27px;
}

.titil_services h2{
    /* font-size: 50px; */
    font-weight: 600;
    letter-spacing: 4px;
    color: #fa2c27;
}
.titil_services span{
    color: #555;
}
.line{
    position: absolute;
 
    height: 4px;
     text-align: center;
     margin-left: 20px;
    background-color: #fa2c27;
}
.dis_img_services img{
    /* width: 100px; */
    /* height: 100px; */
    width: 30%;
    padding:10px;
    border-radius: 50%;
    background-size: cover;
 box-shadow: 3px 3px 4px #fa2c27;
    
}

.titil_services .line{
    width: 18%;
    margin-left: -110px;
}

.items_services{
    padding-top: 60px;
}

.desc_services h2{
    font-weight: 600;
    color: #fa2c27;
    font-size: 22px!important;
}
.desc_services img{
 background-size: cover;
 width: 100%;
 height: 250px;
 border-radius: 20px;
 box-shadow: 1px 1px 4px #fa2c27;
transition: 0.6s;
}


.desc_services img:hover{
transform: scale(1.06);
   }
.btn_submite{
  transition: 0.5s!important;
 }

 button{
     outline: none;
 }

.btn_submite:hover{
 transform: scale(1.1);
}

.desc_services p{
  margin: 20px 0;
  color: var(--graycolor);
  font-size: 16px;
}

.btn_readmore_services{
    width: 250px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 24px;
    background-color: #fa2c27;
    padding: 4px 10px;
    color: #fff;
    box-shadow: 1.5px 1.5px 4px #2c3e50;
    transition: 0.6s;
}

.btn_readmore_services:hover{
   transform: scale(1.06);
   color: #fff;
}


  
@media (min-width:320px) and (max-width:767px){
 
       .text_logo{
           display: none;
       }
       .navbar-brand img{
           height: 45px;
           position: absolute;
           left: 10px!important;
        }
}


.dis_img_services{
  display: flex;
  margin-bottom: 20px;
  color: #fa2c27;
  margin-top: 40px;
  transition: 0.6s;
}

.dis_img_services:hover{
    color: rgb(179, 55, 55);
  }
  

a:focus , a:hover , a{
    text-decoration: none!important;
}

  .dis_img_services h4{
    margin-left: 15px;
    font-weight: 600;
    line-height: 20px;
  }
  

 /* <!-- Start services section --> */
 .services{
     padding: 50px 0;
 }

 strong{
     color: var(--redcolor);
     display: block;
 }

 .item_services{
     padding-top: 50px;
 }

 .item_services img{
    border-radius: 50%;
    transition: all 0.5s;
    padding: 5px;

}

/* .item_services img:hover{
    border: 5px dotted rgb(165, 165, 165);
    padding: 0px;
} */

.img_services{
    width: 228px;
    height: 228px;
    border-radius: 50%;
    border: 5px dotted rgb(224, 224, 224);
    margin: 0 auto;
    transition: 0.7s;
}

.img_services:hover {
    transform: scale(1.01);
    border: 5px dotted rgb(180, 57, 57);
}

.img_services:hover  img{
    transform: scale(1.1);
}

 .item_services h2{
     color: var(--redcolor);
     margin-bottom: 20px!important;
 }

 .item_services span{
    color: rgb(255, 255, 255)!important;
    background-color: black;
    border-radius: 15px ;
    box-shadow: 3px 3px #fa2c27;
    padding: 4px 8px;
    text-shadow: 4px 4px 15px #fa2c27;
}

.item_services p{
   /* padding: 10px; */
   margin-top: 15px;
   padding-top: 15px;
}

.item_services .link_services{
    display: flex;
    color: var(--redcolor);
    justify-content: center;
    align-items: center;
    margin-top: 20px
}
.item_services .link_services li{
   margin: 0 20px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   box-shadow: 0 0 3px 1px black;
   line-height: 40px;
   transition: 0.6s;
}


.item_services .link_services li:hover , .item_services .link_services li a{
   transform: scale(1.2);
   transform: rotate(360deg);
 }

.item_services .link_services li a{
   font-size: 18px;
   color: var(--redcolor);
 }


 .li_icon_googel_plus:hover .icon_googel_plus , .li_icon_twitter:hover .icon_twitter , .li_icon_facebook:hover .icon_facebook{
    color: #fff!important;
    font-size: 26px;
    padding-top: 7px;
 }

 .li_icon_googel_plus:hover {
    background-color: #ae3228;
}

 .li_icon_twitter:hover {
background-color: #1da1f2;
 }

 .li_icon_facebook:hover{
background-color: #3b5998;
 }

 .div_btn_services{
     padding-top: 60px;
 }



 .div_btn_services .btn_services{
      background-color: var(--bluecolor);
      padding: 8px 65px;
    transition: 0.6s!important;
      color: #fff;
 }

 .div_btn_services .btn_services:hover{
  transform: scale(1.2);
  box-shadow: 0 0 7px #fa2c27;
   }
 /* <!-- end services section --> */

 /* <!-- Start about section --> */
 .about_sec{
padding:50px 0;
background-color: rgb(248, 248, 248);
 }

 .about_content{
     display: flex;
 }
.item_1 img{
    width: 100%;
    border-radius: 19px;
    box-shadow: 2px 2px 4px #fa2c27;
}
.item_1{
    width: 100%;
}

.item_2{
    width: 50%;
}

.item_1{
    display: flex;
}
.flex_1_about{
    padding: 15px;
}

.flex_2_about ul li{
    padding-right: 65px;
    padding-top: 10px;
}
/* --------------------- */

.tab-pane{
    position: relative;
}

.line_y{
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--redcolor);
    z-index:0;
    margin-right: 53px;
}

.items_tap{
    display: flex;
    padding-top: 40px;
    margin-bottom: 15px;
    position: relative;
    z-index: 10;
}

.item_tap{
   padding-right: 15px;
}

.item_tap:nth-child(2){
    margin-bottom: 25px;
 }
 

.img_tap img:not(.img-1){
 width: 100%;
 border-radius: 50%;
 border: 2px solid var(--redcolor);
 width: 74px;
 height: 74px;
 z-index: 0!important;
}

.item_tap span{
  color: var(--redcolor);
  font-weight: 600;   
}

.item_tap i{
       font-size: 20px;
       padding-left: 5px;
  }

  .item_tap h3{
    font-size: 16px;
    font-weight: 600;
}

  .item_tap p{
      padding: 10px 0;
      color: rgb(165, 165, 165);
      z-index: 0!important;
  }
/* <!-- end about section --> */

/*  Start person section -  */
 .person{
     background-color: rgb(165, 165, 165);
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     min-height: 325px;
     background-repeat: no-repeat;
     position: relative;
 }

 .overlay-person{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.8);
 }

 .items_person{
     display: flex;
     justify-items: center;
     align-items: center;
     padding-top: 90px;
 }

 .item-person {
     color: #fff;
     flex: 1;
     transition: all 0.8s;
 }

 .item-person:hover{
   transform: translatey(-20%);
 }
 
 .item-person i{
    display: block;
}

.item-person strong{
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 50px!important;
}

.item-person h2{
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 19px!important;
    margin-top: 20px;
    display: block;
}
 /* end person section   */

 
 
 /* <!-- Start images section  */
.images-sec{
    padding: 100px 0;
}

.items-images-sec{
    padding: 55px 0;
}


/* Swiper */
.swiper {
    width: 95%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    min-height: 300px;
    width: 40%!important;
    box-shadow:5px 7px 5px 2px #ff000079 ;
    padding: 6px;
  
  }
  
  .items-swiper{
    width: 100%!important;
    height: 300px ;  
  }
  .items-swiper img:hover{
   transform: scale(1.05);
  }
  
  .items-swiper img{
    width: 100%!important;
   height: 100%;
   transition: 0.7s;
  
  }
  
  
  .content-item-swiper{
    position: absolute;
    top: 12px;
    left: 12px;
   width: 50px;
   height: 50px;
  }
  
  .rate-class-name{
    position: absolute;
    left:200px;
    top: 170px;
    display: flex;
  }
  




 /* <!-- end images section -->  */


/* start home dashboard page home */

.titil_dash-home {
    padding-bottom: 80px;
  }
  
  .titil_dash-home h3 {
    font-size: 30px;
    font-weight: 600;
    color: #1f1f1f;
  }
  
  .titil_dash-home span {
    color: #fa2c27;
    font-size: 18px;
  }
  
  .comment-home {
    display: flex;
    margin-bottom: 80px;
  }
  
  .img_message-home {
    padding-right: 25px;
  }
  
  
  .img_message-home img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .desc_message-home {
    background-color: rgb(243, 240, 240);
    position: relative;
    z-index: 0!important;
    border-radius: 10px !important;
  }
  .desc_message-home::before {
    position: absolute;
    z-index: -5;
    display: inline-block;
    content: "";
    margin-left: -20px;
    top: 15%;
    width: 0;
    height: 0;
    border-right: 25px solid rgb(243, 240, 240);
    border-bottom: 25px solid transparent;
    border-top: 20px solid transparent;
  }
  
  
  .desc_message-home h3 {
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 0 20px;
  }
  
  .desc_message-home p {
    padding: 5px 10px 0 20px;
  }
  
  .desc_message-home div.icon-comment-home {
    padding: 0px 10px 15px 20px;
  }
  
  .desc_message-home div.icon-comment-home span {
    margin-left: 10px;
  }
  
  .desc_message-home div.icon-comment-home span i {
    color: #fa2c27;
    padding-right: 3px;
  }
  
  @media (max-width:1024px) {
    .img_message-home {
        margin-top: 20px;
    }
  }
  
  @media (min-width:280px) and (max-width:653px) {
    .desc_message-home div.icon-comment-home span {
        display: block;
        margin-bottom: 10px;
    }
    .img_message-home {
        margin-top: 40px;
    }
  }
  
  
  
  /* end home dashboard page home */
  
  /* start contact us page */

.portlet .portlet-body .contact-page .contact-know-more {
    background-color: #1f1f1f !important;
  }
  
  .portlet .portlet-body .contact-page .contact-know-more h3 ,
  .portlet .portlet-body .contact-page .contact-question h3 ,
  .portlet .portlet-body .contact-form h3 {
    font-weight: 600;
  }
  
  .portlet .portlet-body .contact-page .contact-know-more .c-line-left ,
  .portlet .portlet-body .contact-page .contact-question .c-line-left ,
  .portlet .portlet-body .contact-form .c-line-left {
    background-color: #fa2c27 !important;
  }
  
  .portlet .portlet-body .contact-page .contact-know-more p {
    color: #555;
    font-size: 15px;
  }
  
  .portlet .portlet-body .contact-page .contact-know-more button {
    background-color: #fa2c27;
    color: #fff !important;
    border: 0;
    font-size: 16px;
  }
  
  .portlet .portlet-body .contact-page .contact-question h3 {
    color: #1f1f1f;
  }
  
  
  .portlet .portlet-body .contact-form p {
    font-size: 15px;
  }
  
  .portlet .portlet-body .contact-form button {
    background-color: #fa2c27 !important;
    color: #fff !important;
    border: 0;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 25px;
  }
  .contact_us{
      padding-top: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .c-square{
      z-index: 0!important;
  }

 
  
  .c-inverse{
      padding: 17px;
  }

.titil_contact{
    color: #fff;
}
  .c-font-lowercase{
  }
  .text_contact{
      padding-top: 10px;
  }


  .font-dark{
      margin-top: 10px;
  }
  
  @media (min-width:280px) and (max-width:653px) {
    .portlet .portlet-body .contact-page .contact-question form input[type='text'] {
        font-size: 11px;
        padding-left: 5px;
    }
  }

  @media (min-width:768px) and (max-width:1199px) {
  .items_details{
      height: 590px;
  }
  }
  
  @media (min-width:320px) and (max-width:568px) {
    .portlet .portlet-body .contact-page .contact-question form input[type='text'] {
        font-size: 15px;
        padding-left: 5px;
    }
    .profile-5{
        display: none;
         overflow-x: hidden;
    }
    .btn_direction{
        top: 85%;

    }
  }
  
  /* end contact us page */
  
  /* About us */
  .about_us{
      margin: 80px 0;
  }
 .contact_about {
    padding-top: 25px;
   min-height: 460px;
   color: rgb(0, 0, 0);
   text-align: center;
   transition: 0.6s;
}

.contact_about:hover{
transform: scaleY(1.1);
background-color: rgba(15, 15, 15, 0.924);
border-radius: 20px;
z-index: 0!important;
}

.contact_about:hover .text_contact {
  color: #fff!important;
    }
    .contact_about:hover .li_contact_us , .contact_about:hover .li_contact_us a{
        color: #fa2c27!important;
        text-shadow: none;
    }

    @media (min-width:320px) and (max-width:767px) {
      .contact_about {
         margin: 22px 0!important;
      }
      .item_1{
        display: block;
      }
    }

.contact_about_1 , .contact_about_2{
    border: 1px solid #fa2c27;
    text-align: center;
}

.contact_about h2{
  color: #fa2c27;
  padding: 20px 0;
  font-weight: 600;
  letter-spacing: 1.6;
}

.contact_about p{
  line-height: 27px;
  letter-spacing: 1.5px;
  color: #1f1f1f;
  font-weight: 600;
  padding: 15px;
  }
  .contact_about ul li , .contact_about ul li a{
 color: black!important;
}

  .contact_about ul li i{
    padding: 5px; 
  font-size: 23px;
  transition: 0.7s!important;
}
.contact_about ul li:hover{
  transform: rotateX(360deg);
}

.contact_about ul li:hover , .icon_location , .icon_phone, .icon_gmail{
   text-shadow: 1px 1px 0px  #fa2c27;
  }

  .icon_phone{
      color: green;
  }
  .icon_location{
      color: #fa2c27;
  }
  .icon_gmail{
      color: #3b5998;
  }
/* end About us */
 /* footer */

 .footer_sec .row {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.footer_sec .row .col-lg-6{
    padding: 0;
}

 .image-footer img{
     width: 100%;
    min-height: 460px;
 }

 .contact_footer {
     padding-top: 25px;
    background-color: #2C3E50;
    padding-right: 80px;
    min-height: 460px;
    color: #fff;
}

.contact_footer p{
  padding: 20px 0;
  max-width: 300px;
  color: rgb(126, 126, 126);
  font-size: 17px;
}

.contact_footer ul li{
    padding: 15px;
    transition: 0.6s;
}

  .contact_footer ul li i{
  padding-left: 10px!important;
 font-size: 20px;  
}

.contact_footer ul li:hover{
transform: scale(1.1);
text-shadow: 2px 2px 4px #fa2c27;
  }

  .contact_footer ul li a{
    color: rgb(240, 240, 240)
  }



  
/* ********* Section Blog ***************** */
.y_margin{
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.desc_blog{
    margin: 28px 0;

}

.item_right{
    border: 1px solid rgb(218, 218, 218);
    padding: 25px;
    border-radius: 5px;
}

.item_right .img_blog img {
    width: 100%;
    max-height: 470px;
    border-radius: 15px;
    box-shadow: 1.5px 1.5px 4px #fa2c27;
 }

 .item_right h3{
     font-weight: 600;
     font-size: 24px;
     padding-top: 18px;
     color: #fa2c27;
 }

 .item_right span{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #555;
}

.item_right p{
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 15px;
}

.item_left form input{
  position: relative;
  padding-left: 60%;
    padding: 10px;
    position: absolute;
    font-size: 18px;
    width: 260px;
    border-radius: 0px;
    border: 2px solid rgb(218, 218, 218);
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.item_left form button{
    top: 0;
    left: 215px;
    width: 60px;
    padding: 9px;
    position: absolute;
    background-color: #fff;
    border-radius: 0px;
    border: 2px solid rgb(218, 218, 218);
}

.item_left form button i{
  color: #fa2c27;
  font-size: 25px;
}

.recent_post , .Categories , .tags{
    border: 1px solid rgb(218, 218, 218);
    text-align: left;
    margin-top: 70px;
    padding: 0 20px;
    padding-bottom: 40px;
}

.recent_post h2 ,.Categories h2 , .tags h2{
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 15px;
    letter-spacing: 1.5px;
    font-size: 28px;
}

.recent_post h3, .Categories h3{
    margin-top: 40px;
    font-size: 18px;
}

.recent_post h3 a ,.Categories h3 a{
   color: black;
   letter-spacing: 0.5px;
   transition:all 0.3s;
}  

 h3 a:hover {
    color: #fa2c27;
    font-weight: 600;
    letter-spacing: 1px;
 } 

.recent_post span a{
    color: #fa2c27;
   letter-spacing: 1px;
}

.recent_post a:hover{
    color: #fa2c27;
    
 } 

.Categories{
    margin-top: 15px;
}

.tags{
    margin-top: 15px;
    padding-bottom: 0;
}

.tags a{
    background-color: rgb(228, 228, 228);
    color: black;
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
    width: 100px;
}

.tags a:hover{
    background-color: #071c33d0;
    color: #fa2c27;
}


 /* page_blog_details  section */

 .page_blog_details table{
    width: 100px!important;
    margin-bottom: 40px;
}

@media (min-width:320px) and (max-width:767px) {
    .page_blog_details table{
        display:none;
    }
    .items_details{
        height: 620px!important;
    }
}

.page_blog_details tr th{
    text-align: center;
    padding: 0px 20px;
    font-size: 20px;
}

.page_blog_details tr th :nth-child(1){
   display: flex;
}

.page_blog_details tr th i{
  /* width: 10px; */
  font-size: 17px;
}

.page_blog_details tr th a{
    color: #fa2c27;
  }

.page_blog_details tr th:nth-child(2){
     background-color: #fa2c27;
 }

 .page_blog_details tr th:nth-child(2) a{
   color: #fff;
}

 /* Blog Details Htmal */
 .items_details {
    background-color: #f1f1f1;
    padding: 20px 20px;
    border-bottom: 1px solid #fa2c27;
    margin-bottom: 50px;
}

.items_details .img_item_details img{
 width: 100%;
 border-radius: 15px;
 box-shadow: 1.5px 1.5px 4px #fa2c27;
 height: 280px;
}

.item_right_details .text_titil{
  text-align: center;
  color: var(--graycolor);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.desc_item_details h3{
  font-size: 22px;
  font-weight: 600;
  color: #fa2c27;
}

.desc_item_details span{
 color: rgb(184, 184, 184);
 font-size: 17px;
 letter-spacing: 1px;
}

.desc_item_details p{
 color: rgb(66, 66, 66);
 margin: 25px 0;
 font-size: 16px;
}

.desc_item_details button{
 color: #fff;
 background-color: #fa2c27;
width: 130px;
margin-bottom: 30px;
padding: 10px!important;
transition: 0.6s;
position: absolute;
left: 15px;
}

.desc_item_details button:hover{
  transform: scale(1.06);
   }

.desc_item_details button a{
 color: #fff;
padding: 10px 0;
font-size: 13px!important;
font-weight: 600;
letter-spacing: 1px;
}

/* page_blog_details  section */

.page_blog_details table{
 width: 100px!important;
 margin-bottom: 40px;
}

@media (min-width:320px) and (max-width:767px) {
 .page_blog_details table{
     display:none;
 }
}

.page_blog_details tr th{
 text-align: center;
 padding: 0px 20px;
 font-size: 20px;
}

.page_blog_details tr th :nth-child(1){
display: flex;
}

.page_blog_details tr th i{
/* width: 10px; */
font-size: 17px;
}

.page_blog_details tr th a{
 color: black;
}

.page_blog_details tr th:nth-child(2){
  background-color:  #fa2c27;
}

.page_blog_details tr th:nth-child(2) a{
color: #fff;
}

.icons_pagination{
    color: #fa2c27;
}

/* Start Quastion */
.qustion{
    padding: 80px 30px;
    margin-bottom: 40px;
    padding-top: 110px;
    box-shadow: 2px 2px 4px #fa2c27;
  }
  
  .content-qustion{
      min-height: 450px;
      background-color: #2C3E50;
      border-radius: 15px;
      padding: 20px 15px;
  }
  
  .titil-qustion h2{
      color: #fa2c27;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 30px;
  }
  
  .titil-qustion img{
      width: 100%;
      margin-top: 60%;
  }
  
  .panel-default {
      border-color: 0;
      border: 0;
  }
  
  .panel-default>.panel-heading {
      color: #fff;
      background-color: #2C3E50;
      border-color:0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 16px;
  }
  
  .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
      border-top: 0;
  }
  
  .panel-group{
      padding: 25px  0;
      position: relative;
  }
  
  .panel-collapse{
      background-color: #2C3E50;
      color: rgba(255, 255, 255, 0.904);
      padding: 10px 20px;
      font-size: 17px;
  }
  
  .panel-title{
      margin-top: 15px;
  }
  
  .panel-title a{
      font-size: 19px;
      /* font-weight: 600; */
      letter-spacing: 1.4px;
      transition: 0.5s;
  }
  
  .panel-title a:hover{
    text-shadow: 2px 2px 4px #fa2c27;
}

  .panel-body ul{
      padding: 15px 0;
  }
  
  
  .line{
      position: absolute;
      width: 83%;
      margin-left: 15px;
      height: 2px;
      background-color: #fff;
      margin-top: 20px;
  }
  